---
layout: default
title: Home
---

<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
    <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&#8592; Older</a>
  {% else %}
    <span class="pagination-disabled">&#8592; Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl }}/">Newer &#8594;</a>
    {% else %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer &#8594;</a>
    {% endif %}
  {% else %}
    <span class="pagination-disabled">Newer &#8594;</span>
  {% endif %}
</div>
{% endif %}
