name: Convert Jupyter Notebooks to Markdown

on:
  push:
    paths:
      - 'notebooks/*.ipynb'
  pull_request:
    paths:
      - 'notebooks/*.ipynb'

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install nbconvert and dependencies
        run: |
          pip install nbconvert jupyter

      - name: Convert Notebooks to Markdown and Add Headings
        run: |
          # Define the final output folder
          final_folder="_posts"

          # Ensure the output folder exists
          mkdir -p "$final_folder"

          # Find and convert all Jupyter notebooks to Markdown, processing each notebook one at a time
          for notebook in $(find notebooks -name '*.ipynb'); do
              echo "Processing $notebook"

              # Create a temporary file to store the converted Markdown
              temp_file=$(mktemp)

              # Convert the Jupyter notebook to Markdown and write to the temporary file
              if ! jupyter nbconvert --to markdown "$notebook" --output "$temp_file"; then
                  echo "Failed to convert $notebook"
                  continue
              fi

              # Print the content of the temporary file for debugging
              echo "Temporary Markdown file content:"
              cat "$temp_file"

              # Extract the first heading from the converted Markdown file
              title=$(grep -m 1 '^# ' "$temp_file" | sed 's/^# //')

              # Print the extracted title for debugging
              echo "Extracted title: $title"

              # Add the full markdown heading to the file with the extracted title
              output_file="$final_folder/$(basename "$notebook" .ipynb).md"
              echo -e "---\nlayout: post\ntitle: \"$title\"\n---\n\n$(cat "$temp_file")" > "$output_file"

              # Print the content of the final Markdown file for debugging
              echo "Final Markdown file content:"
              cat "$output_file"

              # Remove the temporary file
              rm "$temp_file"
          done

      - name: Commit changes
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
      
          # Identify new and modified files
          added_files=$(git ls-files --others --exclude-standard _posts/*.md)
          modified_files=$(git diff --name-only _posts/*.md)
      
          # Initialize variables for commit message and file counts
          commit_message=""
          total_added=0
          total_modified=0
      
          # Function to determine version number for a specific
