name: move-notebooks-to-folder

on:
  push:
    branches:
      dev
    paths:
        - '*.ipynb'  # Triggers the workflow when any .ipynb file is added or modified

jobs:
  move-notebooks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Move .ipynb files to notebooks folder
        run: |
          # Create the notebooks folder if it doesn't exist
          mkdir -p notebooks

          # Find and move all .ipynb files outside the notebooks folder
          find . -type f -name '*.ipynb' ! -path './notebooks/*' -exec mv {} notebooks/ \;

      - name: Delete original .ipynb files outside the notebooks folder
        run: |
          # Find and delete .ipynb files outside the notebooks folder if any remain
          find . -type f -name '*.ipynb' ! -path './notebooks/*' -delete

      - name: Commit and push changes
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          # Check for any changes in the repository
          CHANGED=$(git status --porcelain | grep 'notebooks/')
          if [ -n "$CHANGED" ]; then
            git add notebooks/*.ipynb
            git commit -m "Move newly added Jupyter notebooks to the notebooks folder and delete originals"
            git push
          else
            echo "No new notebooks to move or delete."
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
